<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirror.jmarket" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JMarket" >
        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".view.activity.TestActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.AdminActivity"
            android:exported="false" />
        <activity android:name=".view.activity.MyBuyListActivity" />
        <activity android:name=".view.activity.MySalesListActivity" />
        <activity android:name=".view.activity.MyInterestListActivity" />
        <activity android:name=".view.activity.ReviewActivity" />
        <activity
            android:name=".view.activity.ChatMenuActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.ChatActivity" />
        <activity
            android:name=".view.activity.DetailItemActivity"
            android:exported="true" />
        <activity android:name=".view.activity.CreateItemActivity" />
        <activity android:name=".view.activity.EditProfileActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>